@font-face {
    font-family: 'BubblegumSans';
    src: url('../assets/font/BubblegumSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

button,
input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

html {
    font-size: 62.5%
}

body {
    background-color: #111059;
    font-family: 'BubblegumSans', Arial, Helvetica, sans-serif;
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-position-x: 302px;
    background-position-y: -270px;
    background-size: 55%;
}

/* |---- header ----| */

.header{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 120px;
  font-size: 3.5rem;
}

.menu__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0px 10px;
  background-color: rgba(79, 92, 128, .3);
}

.menu__container .logo__container {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
}

.menu__container .basic__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  font-size: 2.5rem;
  padding-left: 240px;
}

.menu__container .basic__menu .boxes-link, .ico-header, .about-link{
  margin-left: 15px;
}

.menu__container .user__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 23%;
  height: 100%;
  font-size: 2.5rem;
}

.menu__container .user__menu h3 {
  color: white;
}

.menu__container .user__menu a, h3 {
  margin-right: 15px;
}

a {
  color: white;
  stroke: 1px solid black;
}  /* fin header */
  
  /* Menú lateral */
  
  .btn-menu label {
    border-left: 3rem transparent;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  #btn-menu {
    display: none;
  }
  
  .container-menu {
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  
  #btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .container-menu .menu {
    width: 100%;
    max-width: 300px;
    background: #2168a6;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
  }
  
  #btn-menu:checked ~ .container-menu .menu {
    transform: translateX(0%);
  }
  
  .container-menu .menu nav {
    transform: translateY(15%);
  }
  
  .container-menu .menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 1.5rem;
    font-family: var(--fuenteTitulos);
  }
  
  .container-menu .menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
  }
  
  /* Fin menu lateral*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-image: url("../img/vector-beautiful-landscape-illustration\ [Convertido]2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conta {
    width: 640px;
    height: 460px;
    background-color: rgba(90, 101, 132, 0.90);
    border-radius: 32px;
    padding: 20px;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cont p {
    color: #fff;
    font-family: 'BubblegumSans';
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont h3 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'BubblegumSans';
    font-size: 3.5rem;
    text-decoration: underline;
}

.l-us {
    display: flex;
    justify-content: center;
}

.logo-us {
    width: 110px;
    height: 100px;
}

.footer {
    display: flex;
    width: 100%;
    height: 629px;
    background-image: url('../assets/img/footer_test.png');
    background-repeat: no-repeat;
    background-position-y: 95px;
    background-size: 1484px;
}

.footer h3 {
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0px 0px 10px 20px;
    color: white;
    font-size: 2.2rem;
}

.footer .footer__social-media {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    width: 60%;
}

.footer__social-media figure {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.footer__social-media img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}