/* font */

@font-face {
    font-family: 'BubblegumSans';
    src: url('../font/BubblegumSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html {
    font-size: 62.5%
}


/* GodBox variables*/

:root {
    --color2: #2168a6;
    --color3: #23b7d9;
    --azul1: #0c1059;
    --azul2: #2168a6;
    --azul3: #23b7d9;
    --amarillo1: #d9b752;
    --amarillo2: #bf9341;
    --header_color: rgba(86, 101, 132, 0.67);
    --font: 'BubblegumSans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: var(--azul1);
    font-family: var(--font);
}


/* |---- Header ----| */

.header {
    width: 100%;
    height: 130px;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.logoo {
    width: 118px;
    height: 99px;
}

.center-title {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 226px;
}

.center-title .ico-header {
    display: flex;
    justify-content: center;
    width: 102px;
}

.boxes-link {
    margin-right: 20px;
}

.about-link {
    margin-left: 20px;
    text-align: center;
}


.login-link {
    margin-right: 35px;
}


a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.title-form {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.container-fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 594px;
    margin-top: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../img/footer.png');
}


.header .container-header .options {
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.header .container-header .options .link {
    margin-right: 35px;
}

.header .container-header .options .link .item {
    width: 68px;
    height: 68px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.fondo img{
    width: 100%;
    height: 530px;
}


/* Menú lateral */

.btn-menu label {
    border-left: 3rem transparent;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.container-menu .menu {
    width: 100%;
    max-width: 300px;
    background: var(--color2);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
}

#btn-menu:checked~.container-menu .menu {
    transform: translateX(0%);
}

.container-menu .menu nav {
    transform: translateY(15%);
}

.container-menu .menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 2.5rem;
    font-family: var(--fuenteTitulos);
}

.container-menu .menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.config {
    background-color: var(--color3);
}



/* body */


/* user */

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 600px;
}

.box-container .box {
    background: transparent;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    flex: 1 1 30rem;
    border-radius: 1rem;
}

.box-container .box .user img {
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin-top: 300px;
}

.box-container .box .user h3 {
    color: white;
    font-size: 3rem;
    font-family: var(--font);
}


/* bottons */


/* content */

.selecction .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selecction .container .box {
    background: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    flex: 1 1 30rem;
    border-radius: 1rem;
    padding-bottom: 3rem;
}

.selecction .container .box img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.button {
    background: var(--header_color);
    font-family: var(--font);
    color: white;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5rem;
    padding: 20px 0px;
    text-align: center;
    width: 50rem;
    text-decoration: none;
    box-shadow: 0px 4px 0px var(--azul2);
}

.button:hover {
    background: var(--azul3);
    color: #000;
}

.objectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 200px;
}

.objectsContainer .box {
    background: var(--header_color);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    flex: 1 1 30rem;
    border-radius: 2rem;
}

.objectsContainer .box .objects img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.objectsContainer .box .objects div {
    color: #fff;
    font-family: var(--font);
    margin-top: 1rem;
    font-size: 3rem;
}