/* |---- Font ----| */

@font-face {
    font-family: 'BubblegumSans';
    src: url('../assets/font/BubblegumSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'BubblegumSans';
}

html {
    font-size: 62.5%
}

body {
    width: 100%;
    height: 100%;
    background: #0C1059;
    background-repeat: no-repeat;
    background-image: url('../assets/img/header.png');
    background-size: 100%;
}


/* Header sin logear*/

.header {
    width: 100%;
    height: 130px;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.menu__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu__container .logo__container {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header .menu__container .basic__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-right: auto;
    margin-left: 230px;
}

.header .menu__container .basic__menu .about-link {
    text-align: center;
}

.header .menu__container .user__menu {
    width: 45%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.header .menu__container a {
    margin-right: 20px;
    margin-left: 20px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

h3 {
    color: #fff;
}


/* Fin Header sin logear*/


/* Header Admin */

.header-a {
    width: 100%;
    height: 130px;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-header-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-a .container-header-a .logo-a {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header-a .container-header-a .center-title-a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-right: auto;
    margin-left: 100px;
}

.header-a .container-header-a .center-title-a .boxes-link-a {
    display: flex;
    margin-right: 20px;
}

.header-a .container-header-a .center-title-a .about-link-a {
    display: flex;
    margin-left: 20px;
    text-align: center;
}

.header-a .container-header-a .options-a {
    display: flex;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header-a .container-header-a .options-a .link-a {
    display: flex;
    margin-right: 35px;
    list-style: none;
    text-decoration: none;
}

.header-a .container-header-a .options-a .link-a .item-a {
    display: flex;
    width: 68px;
    height: 68px;
    list-style: none;
    text-decoration: none;
}

.name {
    color: #fff;
    font-size: 1.5rem;
    width: 68px;
    height: 15px;
}

.item-a img {
    width: 68px;
    height: 68px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.btn-menu-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Menú Admin*/

.item-nav-a {
    margin-left: 30%;
    list-style: none;
    text-decoration: none;
}

.container-header-a li:hover .submenu-a {
    visibility: visible;
    opacity: 1;
    list-style: none;
}

.submenu-a .item-nav-a img {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.submenu-a {
    position: absolute;
    right: 0px;
    background-color: #1c1d3b;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    list-style: none;
    transition: all 450ms;
    margin-top: 23px;
}

.submenu-a li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.submenu-a li a {
    list-style: none;
}

.submenu-a a {
    text-decoration: none;
    color: #F4F4F4;
}

.submenu-a li:hover {
    background-color: #2168A2;
}

.submenu-a a:hover {
    text-decoration: underline;
}


/* Fin Header Admin */


/* Header Usuario */

.header-u {
    width: 100%;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-header-u {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-u .container-header-u .logo-u {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header-u .container-header-u .center-title-u {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-right: auto;
    margin-left: 100px;
}

.header-u .container-header-u .center-title-u .boxes-link-u {
    display: flex;
    margin-right: 20px;
}

.header-u .container-header-u .center-title-u .about-link-u {
    display: flex;
    margin-left: 20px;
    text-align: center;
}

.header-u .container-header-u .options-u {
    display: flex;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header-u .container-header-u .options-u .link-u {
    display: flex;
    margin-right: 35px;
    list-style: none;
    text-decoration: none;
}

.header-u .container-header-u .options-u .link-u .item-u {
    display: flex;
    width: 68px;
    height: 68px;
    list-style: none;
    text-decoration: none;
}

.name {
    color: #fff;
    font-size: 1.5rem;
    width: 68px;
    height: 15px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.btn-menu-u {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Menú Usuario*/

.item-nav {
    margin-left: 30%;
    list-style: none;
    text-decoration: none;
}

.container-header-u li:hover .submenu {
    visibility: visible;
    opacity: 1;
    list-style: none;
}

.submenu .item-nav img {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.submenu {
    position: absolute;
    right: 0px;
    background-color: #1c1d3b;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    list-style: none;
    transition: all 450ms;
    margin-top: 21px;
}

.submenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.submenu li a {
    list-style: none;
}

.submenu a {
    text-decoration: none;
    color: #F4F4F4;
}

.submenu li:hover {
    background-color: #2168A2;
}

.submenu a:hover {
    text-decoration: underline;
}


/* Fin menu Usuario*/


/* Fin Header user */

.grid-item-1 {
    grid-area: titulo;
}

.grid-item-2 {
    grid-area: cuadro1;
}

.grid-item-3 {
    grid-area: cuadro2;
}

.grid-item-4 {
    grid-area: cuadro3;
}

.grid-item-5 {
    grid-area: cuadro4;
}

.grid-item-6 {
    grid-area: cuadro5;
}

.grid-item-7 {
    grid-area: cuadro6;
}

.grid-item-8 {
    grid-area: cuadro7;
}

.grid-item-9 {
    grid-area: cuadro8;
}

.grid-item-10 {
    grid-area: cuadro9;
}

.grid-item-11 {
    grid-area: cuadro10;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 594px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../img/header.png');
}

.grid-container {
    display: grid;
    grid-template-areas: 'titulo titulo titulo titulo titulo' 'cuadro1 cuadro2 cuadro3 cuadro4 cuadro5' 'cuadro6 cuadro7 cuadro8 cuadro9 cuadro10';
}

.grid-item-1 {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.grid-item-1 {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.grid-item-1 h1 {
    margin-top: 150px;
    font-size: 40px;
    color: #ffffff;
}

.grid-item-2 {
    margin: 25px;
}

.grid-item-2 h5 {
    color: #ffffff;
}

.box__button-buy a {
    color: #ffffff;
    list-style: none;
}

.grid-item-2 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-3 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-4 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-5 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-6 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-7 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-8 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-9 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-10 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-11 .box__button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7px;
    bottom: 58px;
    left: 26px;
    width: 115.49px;
    height: 27.6px;
    font-size: 25px;
    color: #fff;
    background-color: #2168A2;
    border-radius: 10px;
    filter: drop-shadow(0px 13px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.grid-item-3 {
    margin: 25px;
}

.grid-item-4 {
    margin: 25px;
}

.grid-item-5 {
    margin: 25px;
}

.grid-item-6 {
    margin: 25px;
}

.grid-item-7 {
    margin: 25px;
}

.grid-item-8 {
    margin: 25px;
}

.grid-item-9 {
    margin: 25px;
}

.grid-item-10 {
    margin: 25px;
}

.grid-item-11 {
    margin: 25px;
}

.cuadro_items-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166.02px;
    height: 124.85px;
    background: radial-gradient(100% 100% at 46.69% 86.55%, rgba(33, 104, 166, 0.67) 0%, rgba(33, 104, 166, 0.67) 17.71%, rgba(234, 190, 63, 0.87) 90.1%);
    border-radius: 10.1032px 10.1032px 0px 0px;
}

.cuadro_items-1 img {
    width: 101.72px;
    height: 107.6px;
}

.cuadro_items-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 166.02px;
    height: 82.37px;
    background-color: #FFFFFF54;
    border-radius: 0px 0px 10.1032px 10.1032px;
    text-align: center;
}

.cuadro_items-2 h3 {
    margin-left: 5px;
    font-size: 25px;
    margin-top: 0;
    color: #1c1d3b;
    text-shadow: 0px 2px 3px rgb(145, 118, 29);
}

.footer {
    display: flex;
    width: 100%;
    height: 629px;
    background-image: url('../assets/img/footer_test.png');
    background-repeat: no-repeat;
    background-position-y: 95px;
    background-size: 1484px;
}

.footer h3 {
    align-self: flex-end;
    justify-self: flex-start;
    margin-left: 20px;
    color: white;
    font-size: 2.2rem;
}

.footer .footer__social-media {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    width: 60%;
}

.footer__social-media figure {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.footer__social-media img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}