/* |---- Font ----| */

@font-face {
    font-family: 'BubblegumSans';
    src: url('../font/BubblegumSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html {
    font-size: 62.5%
}

:root {
    /* |---- colors ----| */
    --blue-bg: rgb(12, 16, 89, 1);
    --header-bg: rgba(86, 101, 132, 0.67);
    /* |---- Fonts ----| */
    --font: 'BubblegumSans';
}

input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--blue-bg);
    font-family: var(--font);
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 67%;
}


/* |---- Header ----| */

.header {
    width: 100%;
    height: 130px;
    background-color: var(--header-bg);
    font-size: 2.5rem;
}

.container-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.logoo {
    width: 118px;
    height: 99px;
}

.center-title {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 224px;
}

.boxes-link {
    margin-right: 20px;
}

.about-link {
    text-align: center;
    margin-left: 20px;
}

.links-r {
    display: flex;
    align-items: center;
}

.login-link {
    margin-right: 35px;
}

.imgcasco {
    width: 64px;
    height: 64px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.title-form {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.title-icon {
    display: flex;
    align-content: center;
    justify-content: center;
}


/* |---- Body ----| */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 594px;
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 400px;
    background: radial-gradient(100% 100% at 46.69% 86.55%, #EABE3F 0%, rgba(234, 190, 63, 0.1) 100%);
    border-radius: 32px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}

.conta {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 60%;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
}

.l-q {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 10px;
}

.l-q label {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 40px;
}

input[type=email],
input[type=number] {
    width: 250px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-family: var(--font);
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

.username_input,
.password_input {
    width: 250px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-family: var(--font);
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

.username_input-red {
    border-bottom: 2px solid red;
}

.password_input-red {
    border-bottom: 2px solid red;
}

select {
    width: 250px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-family: var(--font);
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

option {
    color: black;
}

.line {
    width: 3px;
    height: 250px;
    margin: 0px auto;
    margin-right: 30px;
    margin-bottom: 10px;
    background-color: #fff;
}

.r-q {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 10px;
}

.r-q label {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 40px;
}

::placeholder {
    color: #fff;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 134px;
    height: 32px;
    margin-top: 10px;
}

.envio {
    color: transparent;
}

.envio-red {
    font-size: 1.5rem;
    color: green;
}

input[type=submit] {
    background: radial-gradient(93.28% 1635.74% at 6.72% 50%, rgba(14, 16, 55, 0.75) 0%, #0C1059 45.83%, rgba(14, 16, 55, 0.75) 100%);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
}

.formulario__grupo-incorrecto {
    color: black;
    font-family: var(--font);
    font-size: 1.2rem;
}

.formulario__grupo-incorrecto-block {
    color: transparent;
}

.footer {
    width: 100%;
    height: 318px;
}

.footer img {
    position: relative;
    width: 100%;
    height: 594px;
}

.footer h3 {
    position: absolute;
    top: 1290px;
    left: 403px;
    color: #fff;
    font-size: 2.2rem;
}