/* |---- Font ----| */

@font-face {
    font-family: 'BubblegumSans';
    src: url('../assets/font/BubblegumSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html {
    font-size: 62.5%
}

:root {
    /* |---- colors ----| */
    --blue-bg: rgb(12, 16, 89, 1);
    --header-bg: rgba(86, 101, 132, 0.67);
    /* |---- Fonts ----| */
    --font: 'BubblegumSans';
}

input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--blue-bg);
    font-family: var(--font);
    background-repeat: no-repeat;
    background-image: url('../assets/img/header.png');
    background-size: 100%;
}


/* Header */

.header {
    width: 100%;
    height: 130px;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.menu__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu__container .logo__container {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header .menu__container .basic__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 229px;
    margin-right: auto;
    margin-left: 150px;
}

.header .menu__container .basic__menu .boxes-link {
    margin-right: 20px;
}

.header .menu__container .basic__menu .about-link {
    margin-left: 20px;
    text-align: center;
}

.header .menu__container .user__menu {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.header .menu__container a {
    margin-right: 20px;
    margin-left: 20px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

h3 {
    color: #fff;
}


/* Fin Header */


/* Header Admin */

.header-a {
    width: 100%;
    height: 130px;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-header-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-a .container-header-a .logo-a {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header-a .container-header-a .center-title-a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 85%;
    margin-right: auto;
    margin-left: 150px;
}

.header-a .container-header-a .center-title-a .boxes-link-a {
    display: flex;
    margin-right: 20px;
}

.header-a .container-header-a .center-title-a .about-link-a {
    display: flex;
    margin-left: 20px;
    text-align: center;
}

.header-a .container-header-a .options-a {
    display: flex;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header-a .container-header-a .options-a .link-a {
    display: flex;
    margin-right: 35px;
    list-style: none;
    text-decoration: none;
}

.header-a .container-header-a .options-a .link-a .item-a {
    display: flex;
    width: 68px;
    height: 68px;
    list-style: none;
    text-decoration: none;
}

.name {
    color: #fff;
    font-size: 1.5rem;
    width: 68px;
    height: 15px;
}

.item-a img {
    width: 68px;
    height: 68px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.btn-menu-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Fin Header Admin */


/* Menú Admin*/

.item-nav-a {
    margin-left: 30%;
    list-style: none;
    text-decoration: none;
}

.container-header-a li:hover .submenu-a {
    visibility: visible;
    opacity: 1;
    list-style: none;
}

.submenu-a .item-nav-a img {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.submenu-a {
    position: absolute;
    right: 0px;
    background-color: #1c1d3b;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    list-style: none;
    transition: all 450ms;
    margin-top: 23px;
}

.submenu-a li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submenu-a li a {
    list-style: none;
}

.submenu-a a {
    text-decoration: none;
    color: #F4F4F4;
}

.submenu-a li:hover {
    background-color: #2168A2;
}

.submenu-a a:hover {
    text-decoration: underline;
}


/* Header Usuario */

.header-u {
    width: 100%;
    background-color: rgba(86, 101, 132, 0.67);
    font-size: 2rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-header-u {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-u .container-header-u .logo-u {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header-u .container-header-u .center-title-u {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 85%;
    margin-right: auto;
    margin-left: 60px;
}

.header-u .container-header-u .center-title-u .boxes-link-u {
    display: flex;
    margin-right: 20px;
}

.header-u .container-header-u .center-title-u .about-link-u {
    display: flex;
    margin-left: 20px;
    text-align: center;
}

.header-u .container-header-u .options-u {
    display: flex;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header-u .container-header-u .options-u .link-u {
    display: flex;
    margin-right: 35px;
    list-style: none;
    text-decoration: none;
}

.header-u .container-header-u .options-u .link-u .item-u {
    display: flex;
    width: 68px;
    height: 68px;
    list-style: none;
    text-decoration: none;
}

.name {
    color: #fff;
    font-size: 1.5rem;
    width: 68px;
    height: 15px;
}

a {
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.btn-menu-u {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Fin Header Admin */


/* Menú Usuario*/

.item-nav {
    margin-left: 30%;
    list-style: none;
    text-decoration: none;
}

.container-header-u li:hover .submenu {
    visibility: visible;
    opacity: 1;
    list-style: none;
}

.submenu .item-nav img {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.submenu {
    position: absolute;
    right: 0px;
    background-color: #1c1d3b;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    list-style: none;
    transition: all 450ms;
    margin-top: 21px;
}

.submenu li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submenu li a {
    list-style: none;
}

.submenu a {
    text-decoration: none;
    color: #F4F4F4;
}

.submenu li:hover {
    background-color: #2168A2;
}

.submenu a:hover {
    text-decoration: underline;
}


/* Fin menu Usuario*/


/* |---- Body ----| */

.title-form {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.title-icon {
    display: flex;
    align-content: center;
    justify-content: center;
}


/* |---- alerts ----| */

.correcto {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 96%;
    height: 100%;
    background-color: #3FA846;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    border-radius: 15px;
    padding: 10px;
}

.error {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    font-size: 1.4rem;
    width: 96%;
    height: 100%;
    background-color: #df1526;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.error li {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 392px;
    background: radial-gradient(100% 100% at 46.69% 86.55%, rgba(33, 104, 166, 0.67) 0%, rgba(33, 104, 166, 0.67) 17.71%, rgba(234, 190, 63, 0.87) 90.1%);
    ;
    border-radius: 32px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 60px;
}

.conta {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 80%;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.l-q {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 20px;
}

label {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 9px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
    width: 250px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-family: 'BubblegumSans';
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=file] {
    width: 260px;
}

.imagen_input p {
    margin-left: 0px;
    margin-bottom: 10px;
}

select {
    width: 250px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-family: 'BubblegumSans';
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

option {
    color: black;
}

.line {
    width: 3px;
    height: 250px;
    margin: 0px auto;
    margin-right: 30px;
    margin-bottom: 10px;
    background-color: #fff;
}

.r-q {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 10px;
}

.r-q label {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 40px;
}

::placeholder {
    color: #fff;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 134px;
    height: 32px;
    margin-top: 30px;
    margin-bottom: 10px;
}

input[type=submit] {
    background: radial-gradient(93.28% 1635.74% at 6.72% 50%, rgba(14, 16, 55, 0.75) 0%, #0C1059 45.83%, rgba(14, 16, 55, 0.75) 100%);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
}

.footer {
    display: flex;
    width: 100%;
    height: 629px;
    background-image: url('../assets/img/footer_test.png');
    background-repeat: no-repeat;
    background-position-y: 95px;
    background-size: 1484px;
}

.footer h3 {
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0px 0px 10px 20px;
    color: white;
    font-size: 2.2rem;
}

.footer .footer__social-media {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    width: 60%;
}

.footer__social-media figure {
    margin-right: 10px;
}

.footer__social-media img {
    width: 55px;
    height: 55px;
    cursor: pointer;
}