/* Fuente Titulos */

@font-face {
    font-family: 'BubblegumSans';
    src: url('../assets/font/BubblegumSans-Regular.ttf');
}


/* Colores GodBox */

:root {
    --color1: #0c1059;
    --color2: #2168a6;
    --color3: #23b7d9;
    --color4: #d9b752;
    --color5: #bf9341;
    --navbar: rgba(86, 101, 132, 0.67);
    --fuenteTitulos: 'BubblegumSans';
}

body {
    background-color: var(--color1);
    font-family: var(--font);
}

/* header */

.header {
    width: 100%;
    height: 130px;
    background-color: var(--navbar);
    font-size: 2rem;
    font-family: var(--fuenteTitulos);
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.header .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container-header .logo {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
    padding-left: 20px;
}

.header .container-header .center-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: 60px;
    width: 229px;
}

.header .container-header .center-title .boxes-link {
    margin-right: 20px;
}

.header .container-header .center-title .about-link {
    margin-left: 20px;
    text-align: center;
}

.header .container-header .options {
    display: flex;
    align-items: center;
}

.header .container-header .options .link {
    margin-right: 35px;
}

.header .container-header .options .link .item {
    width: 68px;
    height: 68px;
}

a {
    color: #fff;
    text-decoration: none;
}

.fondo img{
    width: 100%;
    height: 530px;
}
/* fin header */

::placeholder{
    color: white;
}

/* Menú lateral */
.btn-menu label {
    border-left: 3rem transparent;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.container-menu .menu {
    width: 100%;
    max-width: 300px;
    background: var(--color2);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
}

#btn-menu:checked~.container-menu .menu {
    transform: translateX(0%);
}

.container-menu .menu nav {
    transform: translateY(15%);
}

.container-menu .menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 1.5rem;
    font-family: var(--fuenteTitulos);
}

.container-menu .menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}
/* Fin menu lateral*/

/* body */
.perfil {
    width: 200px;
    margin: 250px auto 20px auto;
}

.perfil .user img {
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.perfil .user h4 {
    font-family: var(--fuenteTitulos);
    font-size: 2rem;
    margin-left: 35px;
    margin-top: auto;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.selecction .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    background: var(--navbar);
    font-family: var(--fuenteTitulos);
    color: white;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5rem;
    padding: 20px 0px;
    text-align: center;
    width: 20rem;
    text-decoration: none;
    box-shadow: 0px 4px 0px var(--color5);
    margin-top: 80px;
}
/* form */
.principalContainer {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.principalContainer .box {
    background: radial-gradient(100% 100% at 46.69% 86.55%, var(--color2) 0%, rgba(234, 190, 63, 0.1) 100%);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);
    flex: 1 1 30rem;
    border-radius: 2rem;
    height: 550px;
    border: 1px solid white;
    margin-top: 80px;
}

.form-register {
    display: flex;
    margin-top: 80px;
}

.l-q {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    margin: 20px 10px;
}

.l-q label {
    font-size: 2rem;
    color: #fff;
    margin-top: 40px;
    font-family: var(--fuenteTitulos);
    text-align: left;
}

.l-q label p {
    color: black;
    font-size: 15px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date] {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: var(--fuenteTexto);
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
    width: 400px;
}
/* fin form */
/* fin body */

/* Footer */

.footer {
    display: flex;
    width: 100%;
    height: 629px;
    background-image: url('../assets/img/footer_test.png');
    background-repeat: no-repeat;
    background-position-y: 95px;
    background-size: 1484px;
}

.footer h3 {
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0px 0px 10px 20px;
    color: white;
    font-family: var(--fuenteTitulos);
    font-size: 2.2rem;
}

.footer .footer__social-media {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    width: 40%;
}

.footer__social-media figure {
    margin-right: 10px;
}

.footer__social-media img {
    width: 55px;
    height: 55px;
    cursor: pointer;
}


/* Fin Footer */