/* font */
@font-face {
    font-family: 'heorot';
    src: url(../font/heorot.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html {
    font-size: 62.5%
}

/* GodBox colors */
:root {
    --azul1: #0c1059;
    --azul2: #2168a6;
    --azul3: #23b7d9;
    --amarillo1: #d9b752;
    --amarillo2: #bf9341;
    --header_color: rgba(86, 101, 132, 0.67);
    --font: 'heorot';
}

body {
    width: 100%;
    height: 100%;
    background: var(--azul1);
}

/* head */
header {
    width: 100%;
    height: 130px;
    background-color: var(--header_color);
    font-size: 2.5rem;
    font-family: var(--font);
}

.container-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 35px;
    float: left;
	line-height:100px;
}

.logoo {
    width: 118px;
    height: 99px;
}

.center-title {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.boxes-link {
    margin-right: 20px;
}

.about-link {
    margin-left: 20px;
}

.links-r {
    display: flex;
    align-items: center;
}

.login-link {
    margin-right: 35px;
}

.item {
    width: 64px;
    height: 64px;
    padding: 5px;
}

a {
    color: #fff;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.title-form {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.header .container-header .btn-menu, .logo{
    float: left;
    line-height:100px;
}

.header .container-header .btn-menu label{
    border-left: 3rem transparent;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
/* lateral menu */
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: var(--azul2);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-family: var(--font);
    font-size: 2rem;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: var(--azul1);
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* body */
/* user */
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 600px;
}

.box-container .box{
    background: transparent;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    flex: 1 1 30rem;
    border-radius: 1rem;
}

.box-container .box .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin-top: 2rem;
}

.box-container .box .user h3{
    color: white;
    font-size: 3rem;
    font-family: var(--font);
}

/* bottons */

/* content */
.selecction .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .button {
    background: var(--header_color);
    font-family: var(--font);
    color: white;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5rem;
    padding: 20px 0px;
    text-align: center;
    width: 50rem;
    text-decoration: none;
    box-shadow: 0px 4px 0px var(--azul2);
    margin-bottom: 20px;
  }
  
  .button:hover{
    background: var(--azul3);
    color: #000;
  }

  .cta {
    background: #fff;
    font-family: var(--font);
    color: #000;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5rem;
    padding: 20px 0px;
    text-align: center;
    width: 20rem;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 1rem;
    margin-top: 10px;
  }

  .cta:hover {
    background: var(--amarillo2);
    color: #000;
  }

.objectsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 200px;
}

.objectsContainer .box{
    background: radial-gradient(100% 100% at 46.69% 86.55%, var(--azul2) 0%, rgba(234, 190, 63, 0.1) 100%);;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    flex: 1 1 30rem;
    border-radius: 2rem;
}

.form-register {
    display: flex;
    margin-top: 40px;
}

.l-q {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    margin: 10px;
}

.l-q label {
    font-size: 3rem;
    color: #fff;
    margin-top: 40px;
    font-family: var(--font);
}

input[type=text],
input[type=password],
input[type=email] {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: var(--font);
    font-size: 2rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

/* footer */
footer div .footerImg img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}