/* Fuente Titulos */
@font-face {
    font-family: 'heorot';
    src: url(./font/heorot.ttf);
}

/* Fuente Textos */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

/* Colores GodBox */
:root {
    --color1: #0c1059;
    --color2: #2168a6;
    --color3: #23b7d9;
    --color4: #d9b752;
    --color5: #bf9341;
    --navbar: rgba(86, 101, 132, 0.67);
    --fuenteTitulos: 'heorot';
    --fuenteTexto: 'Rajdhani', sans-serif;
}

body {
    background-color: var(--color1);
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
}

/* header */
.header {
    width: 100%;
    height: 130px;
    background-color: var(--navbar);
    font-size: 2rem;
    font-family: var(--fuenteTitulos);
    margin-top: auto;
}

.header .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container-header .logo {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
    padding-left: 20px;
}

.header .container-header .center-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: 60px;
}

.header .container-header .center-title .boxes-link {
    margin-right: 20px;
}

.header .container-header .center-title .about-link {
    margin-left: 20px;
}

.header .container-header .options {
    display: flex;
    align-items: center;
}

.header .container-header .options .link {
    margin-right: 35px;
}

.header .container-header .options .link .item {
    width: 68px;
    height: 68px;
}

a {
    color: #fff;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

a:hover {
    color: var(--color4);

}
/* fin header */

/* body */
.perfil {
    width: 200px;
    margin: 100px auto 20px auto;
}

.perfil .user img {
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.perfil .user h4 {
    font-family: var(--fuenteTitulos);
    font-size: 2rem;
    margin-left: 35px;
    margin-top: auto;
    color: white;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* botones */
.selecction .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.selecction .container .box {
    background: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    flex: 1 1 30rem;
    border-radius: 1rem;
    padding-bottom: 3rem;
    margin-top: 7rem;
}
  
.button {
    font-family: var(--fuenteTitulos);
    color: white;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5rem;
    text-align: center;
    width: 15rem;
    text-decoration: none;
    border: .5px solid #fff;
}
  
.button:hover{
    color: white;
}

.btn {
    justify-content: space-around;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    letter-spacing: 4px;
    font-size: 1.5rem;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn:hover {
    background: var(--color2);
    box-shadow: 0 0 10px var(--color3), 0 0 40px var(--color3), 0 0 80px var(--color3);
    transition-delay: 1s;
}

.btn span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color3));
}

.btn:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--color3));
}

.btn:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color3));
}

.btn:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--color3));
}

.btn:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* fin botones */

.objetos {
    background: radial-gradient(100% 100% at 46.69% 86.55%, var(--color2) 0%, rgba(234, 190, 63, 0.1) 100%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);
    width: 70%;
    height: 500px;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.objetos .container h3 {
    color: white;
    font-size: 2rem;
    font-family: var(--fuenteTitulos);
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

.objetos .container img {
    width: 200px;
    height: 200px;
    padding: 40px;
    margin-top: 30px;
}

/* boton modal */
.boton-modal {
    padding: 40px;
    text-align: center;
}

.boton-modal label {
    padding: 10px 15px;
    background-color: var(--color4);
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-family: var(--fuenteTitulos);
}

.boton-modal label:hover {
    background-color: var(--color5);
}
/* fin boton modal */

/* ventana modal */
#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal {
    display: flex;
}

.content-modal {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--color4);
    border-radius: 4px;
}

.content-modal .logo {
    display: flex;
    align-items: center;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.content-modal h2 {
    margin-bottom: 15px;
    font-family: var(--fuenteTitulos);
    font-size: 2rem;
    width: 200px;
    margin-left: 120px;
    margin-top: -70px;
    margin-bottom: 50px;
    text-align: center;
    
}

.content-modal p {
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-family: var(--fuenteTexto);
    font-size: 1rem;
}

.container-modal .content-modal .img {
    text-align: center;
}

.container-modal .content-modal .img img {
    width: 100px;
    height: 100px;
    padding: 30px;
}

.content-modal .btn-cerrar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: white;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-family: var(--fuenteTitulos);
    font-size: 1rem;
}

.content-modal .btn-cerrar label:hover {
    background-color: var(--color3);
    color: white;
}

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

.container-modal .container {
    width: 300px;
    height: 40px;
    top: 0; right: 0;
    margin-top: -30px;
}

.cta {
    background: #fff;
    font-family: var(--fuenteTitulos);
    color: #000;
    display: inline-block;
    font-size: 1rem;
    margin: 0 10px;
    padding: 10px 0px;
    text-align: center;
    width: 120px;
    text-decoration: none;
    border-radius: 1rem;
    top: 0; right: 0;
}

.cta:hover {
    background: var(--color5);
    color: #000;
}
/* fin ventana modal */
/* fin body */

/* Footer */
footer {
    background-image: url(../img/footer.png);
    width: 100%;
    height: 550px;
    margin-bottom: auto;
    background-repeat: no-repeat;
}
/* Fin Footer */