/* Fuente Titulos */
@font-face {
    font-family: 'heorot';
    src: url(./font/heorot.ttf);
}

/* Fuente Textos */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

/* Colores GodBox */
:root {
    --color1: #0c1059;
    --color2: #2168a6;
    --color3: #23b7d9;
    --color4: #d9b752;
    --color5: #bf9341;
    --navbar: rgba(86, 101, 132, 0.67);
    --fuenteTitulos: 'heorot';
    --fuenteTexto: 'Rajdhani', sans-serif;
}

body {
    background-color: var(--color1);
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
}

/* header */
.header {
    width: 100%;
    height: 130px;
    background-color: var(--navbar);
    font-size: 2rem;
    font-family: var(--fuenteTitulos);
    margin-top: auto;
}

.header .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container-header .logo {
    display: flex;
    align-items: center;
    float: left;
    width: 118px;
    height: 99px;
    margin-right: auto;
}

.header .container-header .center-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: 60px;
}

.header .container-header .center-title .boxes-link {
    margin-right: 20px;
}

.header .container-header .center-title .about-link {
    margin-left: 20px;
}

.header .container-header .options {
    display: flex;
    align-items: center;
}

.header .container-header .options .link {
    margin-right: 35px;
}

.header .container-header .options .link .item {
    width: 68px;
    height: 68px;
}

a {
    color: #fff;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

a:hover {
    color: var(--color4);

}
/* fin header */

/* Menú lateral */
.header .btn-menu label {
    border-left: 3rem transparent;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.header .btn-menu label:hover {
    color: var(--color4);
}

#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.container-menu .menu {
    width: 100%;
    max-width: 300px;
    background: var(--color2);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .menu {
    transform: translateX(0%);
}

.container-menu .menu nav {
    transform: translateY(15%);
}

.container-menu .menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 1.5rem;
    font-family: var(--fuenteTexto);
}

.container-menu .menu nav a:hover {
    border-left: 5px solid var(--color4);
    color: var(--color4);
}

.container-menu .menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.config {
    background-color: var(--color3);
}

.container-menu .menu label:hover {
    color: var(--color4);
}
/* Fin menu lateral*/

/* body */
.perfil {
    width: 200px;
    margin: 20px auto;
}

.perfil .user img {
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.perfil .user h4 {
    font-family: var(--fuenteTitulos);
    font-size: 2rem;
    margin-left: 35px;
    margin-top: auto;
    color: white;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.selecction .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.button {
    background: var(--navbar);
    font-family: var(--fuenteTitulos);
    color: white;
    display: inline-block;
    font-size: 2rem;
    margin: 0 5rem;
    padding: 20px 0px;
    text-align: center;
    width: 20rem;
    text-decoration: none;
    box-shadow: 0px 4px 0px var(--color5);
    margin-bottom: 20px;
}
  
.button:hover {
    color: var(--color5);
}

/* form */
.principalContainer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.principalContainer .box{
    background: radial-gradient(100% 100% at 46.69% 86.55%, var(--color2) 0%, rgba(234, 190, 63, 0.1) 100%);;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);
    flex: 1 1 30rem;
    border-radius: 2rem;
}

.form-register {
    display: flex;
    height: 60rem;
    margin-top: 200px;
}

.l-q {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 60%;
    margin: 20px 10px;
}

.l-q label {
    font-size: 2rem;
    color: #fff;
    margin-top: 40px;
    font-family: var(--fuenteTexto);
    margin-left: auto;
}

input[type=text],
input[type=date],
input[type=email] {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: var(--fuenteTexto);
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    margin-top: 10px;
    width: 600px;
}

.l-q label .title {
    margin-bottom: 2px; 
    width: 350px;
    margin-right: 300px;
}

.l-q h4 {
    color: white;
    font-family: var(--fuenteTitulos);
    font-size: 3rem;
    margin-left: 400px;
    margin-bottom: -60px;
}
/* fin form */

.cta {
    background: #fff;
    font-family: var(--fuenteTitulos);
    color: #000;
    display: inline-block;
    font-size: 1rem;
    margin: 0 5rem;
    padding: 20px 0px;
    text-align: center;
    width: 10rem;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 1rem;
    margin-top: 10px;
}

.cta:hover {
    background: var(--color5);
    color: #000;
}
/* fin body */

/* Footer */
footer {
    background-image: url(../img/footer.png);
    width: 100%;
    height: 550px;
    margin-bottom: auto;
    background-repeat: no-repeat;
}
/* Fin Footer */
